@font-face {
    font-family: 'CenturyGothic'; 
    src: local('CenturyGothic'),
  url("fonts/ofont.ru_Century Gothic.ttf") format('ttf');

} 

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'CenturyGothic';
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    width: 100%;
    grid-area: header;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
}

.header_port {
    width: 100%;
    grid-area: header;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2a2544;
}

.header_comp {
    width: 100%;
    grid-area: header;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1a2b2b;
    border-bottom: 2px solid rgb(20, 20, 20);
}

.header_container {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header_link {
    color: white;
}

.main {
    grid-area: main;
    display: grid;
    padding: 30px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 100px 300px;
    gap: 10px;
}

.about_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    border: 1px solid black;
    padding: 40px 20px;
}

.about_title {
    font-size: 40px;
    font-weight: 600;
}

.about_text {
    font-size: 25px;
    font-weight: 100;
}

.who {
    grid-column: 1/2;
    grid-row: 1/2;
}

.education {
    grid-column: 2/3;
    grid-row: 1/2;
}

.work {
    grid-column: 1/2;
    grid-row: 2/3;
}

.skill {
    grid-column: 2/3;
    grid-row: 2/3;
}

.list_item {
    margin-top: 10px;
    font-size: 20px;
}

.example {
    grid-column: 1/3;
    grid-row: 3/4;
}

.manicure {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.perf {
    grid-column: 2/3;
    grid-row: 4/5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.example_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.example_title {
    font-size: 60px;
}

.portfolio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    color: white;
    gap: 20px;
    height: 100%;
    padding: 0px 20px;
}

.portfolio_link {
    color: white;
}

.portfolio_name {
    font-size: 40px;
    font-weight: 600;
}

.portfolio_text {
    font-size: 25px;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer_port {
    grid-area: footer;
    background-color: #2a2544;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer_comp {
    grid-area: footer;
    background-color: #1a2b2b;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 2px solid rgb(20, 20, 20);
}

.footer_title {
    font-size: 60px;
}

.footer_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.footer_img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}

.footer_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_port {
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 400px 500px;
    gap: 10px;
    font-family: 'Exo 2', sans-serif;
    padding: 50px 20px;
    background-color: rgb(96, 91, 119);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2544;
    border-radius: 40px;
    padding: 20px 30px;
    color: rgb(238, 238, 238);
}

.pic-1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.pic-2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.pic-3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.skills {
    grid-column: 1/2;
    grid-row: 2/3;
}

.xp {
    grid-column: 2/3;
    grid-row: 2/3;
}

.pic_container {
    display: flex;
    height: 100%;
    background: none;
    padding: 0px;
}

.pic_img {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    border: 3px solid #333;
}

.img_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.att_container {
    height: 100%;
    padding: 50px;
}

.exp_container {
    height: 100%;
    padding: 50px;
}

.att_title {
    font-size: 40px;
    font-weight: 600;
}

.att_text {
    font-size: 27px;
    font-weight: 100;
    margin-top: 20px;
}

.main_product {
    grid-area: main;
    padding: 90px 20px;
    background-color:#122627;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 15px;
}

.prod_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1a2b2b;
    border-radius: 20px;
    border: 2px solid rgb(20, 20, 20);
}

.prod_item-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 40px;
}

.prod_item-2 {
    grid-column: 3/4;
    grid-row: 1/3;
    flex-direction: column;
    justify-content: space-around;
}

.prod_item-3 {
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    justify-content: space-around;
}

.prod_item-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    flex-direction: column;
    justify-content: space-around;
}

.prod_item-5 {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
    justify-content: space-around;
}

.prod_item-6 {
    grid-column: 2/4;
    grid-row: 3/4;
    align-items: center;
    padding: 40px;
}

.prod_img-1 {
    display: flex;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.prod_img-2 {
    display: flex;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.prod_img-3 {
    display: flex;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.prod_img-4 {
    display: flex;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.prod_img-5 {
    display: flex;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.prod_img-6 {
    display: flex;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;
}

.prod-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prod_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
}

.prod_name {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}

.prod_name-3 {
    font-size: 20px;
}

.prod_name-4 {
    font-size: 26px;
}

.prod_name-5 {
    font-size: 17px;
    margin-top: 10px;
}

.prod_name-6 {
    font-size: 25px;
}

.prod_text {
    font-size: 15px;
    color: rgb(223, 223, 223);
}

.prod_text-3 {
    font-size: 11px;
}

.prod_text-4 {
    font-size: 12px;
}

.prod_text-5 {
    font-size: 10px;
}

.prod_text-6 {
    font-size: 10px;
}